* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: url(tree.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  margin: 5% 0%;
}

.heading {
  color: #ffffff;
  font-size: 40px;
}

header {
  position: relative;
}

section {
  padding: 20px 0px;
  background-color: hsla(0, 0%, 100%, 0.5);
  width: 55%;
  border-radius: 10px;
  margin: 5px 25%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

section:hover {
  transition: 0.2s;
  background-color: hsla(0, 0%, 87%, 0.9);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 30px;
  width: 210px;
  border: none;
  color: #000000;
  font-size: 14px;
  padding-left: 15px;
  background-color: hsla(0, 0%, 100%, 0.747);
  border-radius: 5px;
}

input::placeholder {
  color: #000000;
}

i {
  position: absolute;
  top: 88px;
  left: 750px;
  font-size: 18px;
}

input:focus + i {
  display: none;
}

input:focus {
  transition: 0.5s;
  outline: none;
  background-color: #ffffff;
}

.temprature {
  font-size: 50px;
}

img {
  height: 50px;
}

.Btn1,
.close {
  height: 30px;
  width: 120px;
  background-color: #004eb3;
  border: none;
  color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
  font-weight: bold;
}

.Btn1:hover,
.close:hover {
  transition: 0.2s;
  box-shadow: #000c31 0px 20px 30px -10px;
}

.bar {
  width: 2px;
  background-color: #2d4ea8;
  border: none;
  border-radius: 5px;
}

.bar {
  display: none;
}

.viewMore {
  display: none;
  text-align:start;
}
.close{
    margin-left: 95px;
}